{% extends "base.html.jinja" %}
{% block title %}{{ county.name }}{% endblock %}
{% block content %}
    <ul id="dates">
    {% for date in dates %}
      <li>{{ date.date }} - {{ date.name }}</li>
    {% endfor %}
    </ul>
    Add all of the dates to your calendar by clicking <a href="webcal://electioncal.us/{{language}}/{{state.lower_name}}/{{county.lower_name}}/voter.ics">here</a> (
    {% for alternative in alternatives %}<a href="https://electioncal.us/{{language}}/{{state.lower_name}}/{{county.lower_name}}/voter.{{alternative.extension}}">{{alternative.name}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}).
{% endblock %}
