{% extends "base.html.jinja" %}
{% block title %}{{ county.name }}{% endblock %}
{% block content %}
    <h3>{{ county.name }}, {{ state.name }}</h3>
    <h2>{{ reminder.name }} by</h2>
    <h1>{{ main_date }}</h1>
    <h2>{{ secondary_date }}</h2>
    <ul id="dates">
    {% for date in dates %}
      <li>{{ date.date }} - {{ date.name }}</li>
    {% endfor %}
    </ul>
    Add all of the dates to your calendar by clicking <a href="webcal://electioncal.us/{{language}}/{{state.lower_name}}/{{county.lower_name}}/voter.ics">here</a> (
    {% for alternative in alternatives %}<a href="https://electioncal.us/{{language}}/{{state.lower_name}}/{{county.lower_name}}/voter.{{alternative.extension}}">{{alternative.name}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}).
{% endblock %}
