{% extends "base.html.jinja" %}
{% block title %}{{ state.name }}{% endblock %}
{% block content %}
    <h1>{{ state.name }} needs your voice.</h1>
    <p>Select your county below for details.</p>
    <ul id="dates">
    {% for date in dates %}
      <li>{{ date.date }} - {{ date.name }}</li>
    {% endfor %}
    </ul>
    <ul>
      <li><a href="{{ state.homepage }}">Elections Site</a></li>
      <li><a href="{{ state.registration_info }}">Registration Information</a></li>
    {% if state.absentee_info %}
      <li><a href="{{ state.absentee_info }}">Absentee Voting</a></li>
    {% endif %}
    {% if state.military_overseas_info %}
      <li><a href="{{ state.military_overseas_info }}">Military and Overseas Voting</a></li>
    {% endif %}
    {% if state.military_info %}
      <li><a href="{{ state.military_info }}">Military Voting</a></li>
    {% endif %}
    {% if state.overseas_info %}
      <li><a href="{{ state.overseas_info }}">Overseas Voting</a></li>
    {% endif %}
    </ul>
    <ul id="counties">
    {% for county in counties %}
      <li><a href="{{county.lower_name}}/">{{ county.name }}</a></li>
    {% endfor %}
    </ul>

    Add all of the dates to your calendar by clicking <a href="webcal://electioncal.us/{{language}}/{{state.lower_name}}/voter.ics">here</a> (
    {% for alternative in alternatives %}<a href="https://electioncal.us/{{language}}/{{state.lower_name}}/voter.{{alternative.extension}}">{{alternative.name}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}). Get state-wide dates <a href="webcal://electioncal.us/{{language}}/{{state.lower_name}}/all-voter.ics">here</a>(
    {% for alternative in alternatives %}<a href="https://electioncal.us/{{language}}/{{state.lower_name}}/all-voter.{{alternative.extension}}">{{alternative.name}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}).
{% endblock %}
