<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} - electioncal.us</title>
    {% endblock %}
    <link href="/static/theme.css" rel="stylesheet" type="text/css">
    {% block script_head %}{% endblock %}

    {% block style_head %}{% endblock%}
    {% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@electioncal_us">
    <meta name="twitter:creator" content="@tannewt">
    <meta name="twitter:title" content="{{ reminder.name }} by {{ secondary_date }} {{ secondary_date }}">
    <meta name="twitter:description" content="{{ reminder_location }} - {{ reminder.explanation }}">
    <!-- <meta name="twitter:image" content="https://electioncal.us/{{path}}/twitter.png"> -->
    {% endblock %}
</head>
<body>

    <h1>{% block slogan %}Voting reminders for {{ demonym }}s who put things off.{% endblock %}</h1>
    {% if reminder %}
    <div id="reminder">
        {% block reminder %}
        <h3>{{ reminder_location }}</h3>
        <h2>{{ reminder.name }} by</h2>
        <h1>{{ main_date }}</h1>
        <h2>{{ secondary_date }}</h2>
        <h3>{{ reminder.explanation }}</h3>
        {% endblock %}
    </div>
    {% endif %}
    <div id="content">{% block content %}{% endblock %}</div>
    <hr/>
    <div id="footer">
        {% block footer %}
        This site and data is community maintained. Help us on <a href="https://github.com/electioncal/us">GitHub</a>. Also, hosted on GitHub.
        <hr/>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        {% endblock %}
    </div>
    <script type="text/javascript">{% block javascript%}{% endblock %}</script>
</body>
</html>
