{% extends "base.html.jinja" %}
{% block title %}Docs{% endblock %}
{% block opengraph %}
{% endblock %}
{% block twitter %}
{% endblock %}
{% block slogan %}
{% endblock %}
{% block reminder %}
{% endblock %}
{% block content %}
    {{ doc }}
{% endblock %}
